* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* hint start */

.hint-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.hint {
  height: 100%;
  margin: 0 auto;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hint-image-wrapper {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.opacity-transition {
  transition: opacity 0.3s ease-in-out;
}

.hint-image {
  max-width: 60%;
  display: block;
  margin: 0 auto;
}

.hint-text {
  text-align: center;
  margin-top: 1rem;
  font-size: 4rem;
  padding: 1rem;
}

.hint-hide-instruction {
  text-align: center;
  margin-top: 0.5rem;

  font-size: 2rem;
}

.hide {
  opacity: 0;
}

@keyframes leftRight {
  0% {
    transform: translateX(-10vw);
  }
  50% {
    transform: translateX(10vw);
  }
  100% {
    transform: translateX(-10vw);
  }
}

@keyframes upDown {
  0% {
    transform: translateY(-10vw);
  }
  50% {
    transform: translateY(10vw);
  }
  100% {
    transform: translateY(-10vw);
  }
}

@keyframes tap {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10vw);
  }
  100% {
    transform: translateY(0);
  }
}

.hint-image-left-right {
  animation: leftRight 2.5s ease-in-out infinite;
}

.hint-image-up-down {
  animation: upDown 2.5s ease-in-out infinite;
}

.hint-image-tap {
  animation: tap 1s ease-in-out infinite;
}

/* hint end */

/* control start*/

.control-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: end;
  overflow: hidden;
}

.control {
  z-index: 100;

  max-width: 960px;
  margin: auto auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: end;
  padding: 1rem;
}

.control-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  gap: 2rem;
}

.control-credit {
  font-size: 1.8rem;
  text-align: center;
  flex: 0 0 100%;
  padding: 1rem;
}

.control-item {
  border: 0.5rem solid #000;
  background-color: #fff;
  border-radius: 50%;

  padding: 30px;
  aspect-ratio: 1 / 1;
  flex: 1 1 5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.control-icon {
  width: 100%;
  height: auto;
}

.control-transition {
  transition: transform 0.3s ease-in-out;
}

.control-hidden {
  transform: translateY(100vh);
}

.control-item-none {
  display: none;
}

/* control end */
